@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* EL NUEVO AZUL DE TU IMAGEN */
  --primary: #4A69BD; 
  --primary-hover: #3C5596;
  --header-bg: #4A69BD;
}

body {
  @apply bg-white text-slate-700 antialiased font-sans;
}
