@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4063B0;
  --primary-hover: #2D467E;
  --header-bg: #0F172A; /* El azul oscuro del header en la captura */
}

body {
  @apply bg-white text-slate-700 antialiased font-sans; /* Fondo blanco global */
}
